# fly.toml app configuration file generated for sc-discord on 2023-07-08T06:33:05Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "sc-discord"
primary_region = "cdg"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
